{% set project_name = "sysrepo-plugin-" + module_name %}
project({{ project_name }})

set(PLUGIN_LIBRARY_NAME srplg-{{ module_name }})
set(PLUGIN_EXECUTABLE_NAME {{ project_name }})

find_package(sysrepo-cpp REQUIRED)
find_package(libyang-cpp REQUIRED)
find_package(srpcpp REQUIRED)
find_package(sysrepo REQUIRED)
find_package(magic_enum REQUIRED)

include_directories(
{% if src_folder != "" %}
    {{ src_folder }}
{% else %}
    ${CMAKE_CURRENT_SOURCE_DIR}
{% endif %}
)

set(
    PLUGIN_SOURCES

{% for entry in files %}
{% if entry.get_file()[-3:] == "cpp" %}
    {% if entry.get_disabled() %}    # {% else %}    {% endif %}{{entry.get_file()}}
{% endif %}
{% endfor %}
)

# plugin as a shared library, can be installed as a sysrepo daemon plugin
add_library(
    ${PLUGIN_LIBRARY_NAME}
    SHARED

    ${PLUGIN_SOURCES}
)

set_target_properties(${PLUGIN_LIBRARY_NAME} PROPERTIES
    CXX_VISIBILITY_PRESET hidden # -fvisibility=hidden
    C_VISIBILITY_PRESET hidden # -fvisibility=hidden
    VISIBILITY_INLINES_HIDDEN TRUE # -fvisibility-inlines-hidden
    POSITION_INDEPENDENT_CODE ON # -fPIC
)

target_link_libraries(
    ${PLUGIN_LIBRARY_NAME}

    sysrepo-cpp::sysrepo-cpp
    libyang-cpp::libyang-cpp
    srpcpp::srpcpp
    magic_enum::magic_enum
)

# install as sysrepo daemon plugin
# install(TARGETS ${PLUGIN_LIBRARY_NAME} DESTINATION usr/sysrepo-plugind/plugins)

# plugin as an executable
add_executable(
    ${PLUGIN_EXECUTABLE_NAME}

{% if src_folder != "" %}
    {{ src_folder }}/main.cpp
{% else %}
    main.cpp
{% endif %}
)

target_link_libraries(
    ${PLUGIN_EXECUTABLE_NAME}

    ${PLUGIN_LIBRARY_NAME}
)

# install executable for test purposes
install(TARGETS ${PLUGIN_EXECUTABLE_NAME} DESTINATION bin)
